
/*font family roboto*/

@font-face{
    font-family: Roboto Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/*font family balsamiq_sans*/

@font-face{
    font-family: Balsamiq Sans Regular;
    src: url(../fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf);
}