@import url("../css/fonts.css");
:root{

    /*   Theme Colors   */
    --text-grey:#3f4954;
    --light-pink:#f96d80;
    --light-purple:#ad6989;
    --stylish-black:#3f3f44;
    --dark-maroon:#9a1f40;

    /*    Gradient Colors    */
    --background-gradient:radial-gradient( circle farthest-corner at 50.4% 50.5%,  rgba(251,32,86,1) 0%, rgba(135,2,35,1) 90% );

    /*---------------theme fonts-----------------*/

    /*---------Roboto---------*/

    --Roboto-Black:"Roboto-Black",cursive;
    --Roboto-BlackItalic:"Roboto-BlackItalic",cursive;
    --Roboto-Bold:"Roboto-Bold",cursive;
    --Roboto-BoldItalic:"Roboto-BoldItalic",cursive;
    --Roboto-Italic:"Roboto-Italic",cursive;
    --Roboto-Light:"Roboto-Light",cursive;
    --Roboto-LightItalic:"Roboto-LightItalic",cursive;
    --Roboto-Medium:"Roboto-Medium",cursive;
    --Roboto-MediumItalic:"Roboto-MediumItalic",cursive;
    --Roboto-Regular:"Roboto-Regular",cursive;
    --Roboto-Thin:"Roboto-Thin",cursive;
    --Roboto-ThinItalic:"Roboto-ThinItalic",cursive;

    /*----x----Roboto----x----*/

    /*---------BalsmiqSans---------*/

    --BalsmiqSans-Bold:"BalsmiqSans-Bold",cursive;
    --BalsmiqSans-BoldItalic:"BalsmiqSans-BoldItalic",cursive;
    --BalsmiqSans-Italic:"BalsmiqSans-Italic",cursive;
    --BalsmiqSans-Regular:"BalsmiqSans-Regular",cursive;

    /*----x----BalsmiqSans----x----*/

    /*---------DM_Mono---------*/

    --DMMono-Italic:"DMMono-Italic",cursive;
    --DMMono-Light:"DMMono-Light",cursive;
    --DMMono-LightItalic:"DMMono-LightItalic",cursive;
    --DMMono-Medium:"DMMono-Medium",cursive;
    --DMMono-MediumItalic:"DMMono-MediumItalic",cursive;
    --DMMono-Regular:"DMMono-Regular",cursive;

    /*----x----DM_Mono----x----*/

    /*---------Piedra---------*/

    --Piedra:"Piedra",cursive;

    /*----x----Piedra----x----*/

    /*---------BalsmiqSans---------*/

    --PTSerif-Bold:"PTSerif-Bold",cursive;
    --PTSerif-BoldItalic:"PTSerif-BoldItalic",cursive;
    --PTSerif-Italic:"PTSerif-Italic",cursive;
    --PTSerif-Regular:"PTSerif-Regular",cursive;

    /*----x----BalsmiqSans----x----*/

    /*-------x-------theme fonts--------x--------*/
}

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

/*----------Global Classes----------*/
a{
    text-decoration: none;
    color: var(--text-grey);

}


.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--PTSerif-Bold);
    cursor: pointer;
}



/*-----x-----Global Classes------x----*/

/*--------navbar----------*/

.nav{
    background: rgba(255, 255, 255, 0.9);
    padding: 0.2rem;
    height: 0rem;
    min-height: 8vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 0.8rem ;
    
}

.toggle-icons i{
    margin: 0 -1.8em;
    font-size: 1.7rem;
    color: var(--text-grey);
}

.collapse{
    height: 20rem;
}

.nav-menu{
    justify-content: space-between !important;
}

.nav-items{
    display: flex;
    margin: 0;
    font-family:var(--Roboto-Black);
}

.nav-items :hover{
    background-color: var(--dark-maroon);
}
.nav-items :hover a{
    color: white;
}


.nav-link{
    padding: 1rem 1rem;
    font-size:1.1rem ;
    position: relative;
}

.nav .nav-brand a{
    font-family: var(--Piedra);
    font-size: 1.6rem;
    padding: 0.6rem 0.3rem;
    display: block;
    font-family:var(--Piedra);
}

.social{
    padding: 1rem 0.5rem;

}

.social i{
    padding: 0 .2rem;
}

.social i:hover{
    color: #a1c4cf;
}


/*----x----navbar------x----*/


/*Viewport less than or equal 900px*/
@media only screen and (max-width:900px){
    .nav-menu,.nav-items{
        flex-direction: column;
    }

    .toggle-collapse{
        display: initial;
    }
}


/*---------------Main Content-----------------*/

.logo{
    height: 10rem;
    margin: .3rem;

}

.site-title{
    background:url(../assets/richat.jpg);
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

.site-background{
    padding-top:10rem;
    text-align: center;
    color: white;
}

.site-title h1{
    margin: .3rem;
    font-family: var(--Piedra);
    letter-spacing: 0.2em;
    font-size: 5em;
}

.btn{
    margin: 1.8rem;
    background: skyblue;
}

.btn:hover{
background: transparent;
border: 1px solid white;
color: white;
}
/*-------x-------Main Content--------x--------*/


.Balsamiq_Sans{
    font-family: var(--BalsmiqSans-Regular);
}

.DM_Mono{
    font-family: var(--DMMono-Regular);
}

.Piedra{
    font-family: var(--Piedra);
}

.PT_Serif{
    font-family: var(--PTSerif-Regular);
}

.Roboto{
    font-family: var(--Roboto-Regular);
}